body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0096c7;
    font-family: fantasy;
    margin-bottom: auto;
}

.card-body {
    background-color: #0077b6;
}

h1 {
    display: flex;
    justify-content: center;
    color: #caf0f8;
    margin-top: 5%;
    border-color: #0077b6;
    border-radius: 50%;
}

#cards {
    display: none;
    margin: 250px;
    margin-top: 0px;
    text-align: center;
}

.card {
    justify-content: space-between;
    text-align: center;
    width: 18rem;
}

.card-img-top {
    max-height: 50%
}

#mitzvahMishkebabbleButton {
    display: none;
    justify-content: center;
    text-align: center;
    margin: 250px;
    background-color: aliceblue;
}

.btn-primary {
    width: 100%;
    height: 75%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: wavy;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-size-adjust: inherit;
    background-color: #0077b6;
    border-color: #0077b6

}

.btn-primary:hover {
    background-color: #caf0f8;
}



#main-verbs-input {
    display: none;
    justify-content: center;
    margin-top: 250px;
}

#main-adjectives-input {
    display: none;
    justify-content: center;
    margin-top: 250px;
}

#main-name-input {
    justify-content: center;
    margin-top: 250px;
    display: none;
}

.input-group-text {
    background-color: #0077b6;
    color: #caf0f8;
    border: #0077b6;
    margin-top: auto;
}


#main-nouns-input {
    display: flex;
    margin-top: 250px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

#story {
    display: none;
    justify-content: center;
    align-self: center;
    color: #caf0f8;
    margin-right: 10%;
    margin-left: 10%;
    border: solid #caf0f8 5px;
    padding: 10px;
    position: relative; 
    bottom: 200px;
    border-radius:10px

    
}

